#game
{
	background : #000;

	display : none;
}

#window
{
	width  : 750px;
	height : 400px;

	position : absolute;

	top  : 50%;
	left : 50%;

	margin : -200px -375px;

	border        : 10px solid #050505;
	border-radius : 20px;

	box-shadow : 0px 0px 30px 20px #050505;

	background : #050505;
}