section#game
{
	background : black;
	box-shadow : none;
}

canvas#window
{
	width  : 750px;
	height : 400px;

	position : absolute;

	top  : 50%;
	left : 50%;	

	margin : -200px -375px;

	border-radius : 20px;

	background : #050505;

	cursor : crosshair;
}