section#ingame
{
	display : none;

	z-index : 1;
}

#ingameList
{
	display : block;

	width : 300px;

	margin : 100px auto;

	font-size : 25px;
}

#ingameList li
{
	margin-bottom : 25px;
	
	list-style-type : none;
}

#ingameList li:hover
{
	cursor : pointer;

	color : lightgray;
}

#ingameBackground
{
	position : absolute;

	width  : 100%;
	height : 100%;
}