section#journal
{
	background : black;
}

section#journal div.box
{
	border-radius : 20px;

	background : url(../ress/graphics/decor.png);
}

div#inventory
{
	position : absolute;

	left : 20px;

	width  :  60%;
	height : 100%;

	margin  : 0;
	padding : 0;

	text-align : center;

	box-shadow: 0 0 10px 10px black;

	background : #141414;
}

.float
{
	position : absolute;

	top : -30px;

	width  : auto;
	height : 10px;

	padding : 5px;

	font-size : 12.5px;

	border-top-left-radius  : 10px;
	border-top-right-radius : 10px;

	border        : thin #151515 solid;
	border-bottom : none;

	background : #101010;
}

.float:hover
{
	cursor : pointer;
}

#blocksFloat
{
	left : 20px;
}

#weaponsFloat
{
	left : 150px;
}

section.inventoryTab
{
	position : absolute;

	top  : 30px;
	left : 0;

	width  : 100%;
	height : 390px;

	border-top-left-radius  : 5px;
	border-top-right-radius : 5px;

	border        : thin #151515 solid;
	border-bottom : none;

	background : #101010;
}

section.inventoryTab:hover
{
	z-index : 2;
}

div#character
{
	position : absolute;

	right : 0;

	width  : 40%;
	height : 100%;

	text-align : center;
}