#menuList
{
	display : block;

	width : 300px;

	margin : 100px auto;

	font-size   : 25px;
}

#menuList li
{
	margin-bottom : 25px;
	list-style-type : none;
}

#menuList li:hover
{
	cursor : pointer;

	color : lightgray;
}

#menuBackground
{
	position : absolute;

	width  : 100%;
	height : 100%;
}