table.itemList
{
	position : absolute;

	width : 100%;
}

tr.item
{
	width  : 100%;
	height : 50px;

	padding : 10px;
}

tr.item td
{
	width  :  50%;
	height : 50px;

	border-top-left-radius  : 5px;
	border-top-right-radius : 5px;

	text-align : center;
}

tr.item:hover
{
	background : #151515;

	cursor : pointer;
}

tr.current:hover
{
	background : #c89632;
}

tr.current
{
	color : black;

	background : #b78521;
}